=form_for(room) do |f|
  = render partial: 'shared/errors', locals: {model: room}
  .field
    =f.label :title
    =f.text_field :title
  .field
    =f.label :munoh_id
    =f.select :munoh_id, options_from_collection_for_select(Munoh.all, :id, :name), prompt: "選択してください"
  .actions
    =f.submit nil
