=form_for(room) do |f|
  = render partial: 'shared/errors', locals: {model: room}
  .field
    =f.label :title
    =f.text_field :title
  .field
    =f.label :munoh_id
    =f.select :munoh_id, select_munoh_ids, prompt: "選択してください"
  .actions
    =f.submit nil
