.room-list
  %table{border: 1}
    -@rooms.each do |room|
      %tr
        %td.room-title=link_to room.title, room_talks_path(room_id: room.to_param)
        %td.room-action #{link_to_if  room.owner?(current_user), "Edit", edit_room_path(room)}| #{ link_to_if room.owner?(current_user), "Delete", room_path(room), method: :delete, confirm: 'Are you sure?' }
.new-room
  =link_to "New", new_room_path
